body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 562.5%;
  /* 100% = 16px = 1em       90px / 16 = 562.5%      or    5.625em
  ******use 5.625rem****** rem ki help sa baki ka font effect nahi hoonga bss ya he change hoga bss*/
  font-family: 'Sacramento', cursive;
  margin: auto auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  /*  40px       40/16=2.5em or 2.5rem    2.5*100=250%*/
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 4px;
  width: 5%;
  margin: 50px auto;
}

p{
  line-height: 2;

}

.work {
  width: 40%;
  margin: auto auto 40px auto;

}

.my-pic {
  height: 15%;
  width: 15%;
}

.code {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.wordpress {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top {
  padding: 20px;
  background-color: #E4F9F5;
}

.bottom-cloud {
  position: absolute;
left: 200px;
top: 400px;
}

.top-cloud {
  position: relative;
  left: 300px;
}

.pro {
  text-decoration: underline;
}

.middle-container{
  margin: 70px auto 100px auto;
}

.bottom-container{
background-color: #66BFBF;
padding-bottom: 20px;
padding-top: 30px;

margin-bottom: 0px;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.skill-row {
  width: 50%;
  margin: 10px auto 10px auto;
  text-align: justify;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 20px
}


.contact-me{
  width: 40%;
  margin: 40px auto 60px auto;
}

.btm{
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btm:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
